<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <!--            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%highlight{%level}{FATAL=bg_red, ERROR=red, WARN=yellow, INFO=green, DEBUG=blue}] [%t] %logger{36} - %msg%n" disableAnsi="false"/>-->
            <PatternLayout
                    pattern="%style{%d{yyyy-MM-dd HH:mm:ss.SSS}}{bright,white} [%highlight{%-5level}] [%style{%t}{bright,blue}] [%style{%C{5.}}{bright,yellow}:%L] %msg%n%style{%throwable}{red}"
                    disableAnsi="false"/>
        </Console>
        <!--<RollingFile name="File" fileName="logs/app.log" filePattern="logs/app-%i.log">
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10000"/>
        </RollingFile>-->
    </Appenders>
    <Loggers>
        <Root level="info">
            <!--            <AppenderRef ref="File"/>-->
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
